@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('./css/header.css');
@import url('./css/section-top.css');
@import url('./css/section-middle-black.css');
@import url('./css/section-middle-img.css');
@import url('./css/footer.css');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.container {
  width: 1128px;
  margin: 0 auto;
}

img { 
  display: block;
  max-width: 100%;
  max-height: 100%;
}

button:hover {
  background-color: #2B2B2B;
}

button:active {
  background-color: #AF2A2A;
}

.svg:hover{
  fill: #D28888;
}

.svg:active{
  fill: #AF2A2A;
}

@media screen and (max-width: 1200px){
  .container {
    width: 595px;
  }
}

@media screen and (max-width: 630px) {
  .container {
    width: 266px;
  }
}